:root {
    --primaryColor: #145CA6;
    --secondaryColor: #145CA6;
    --darkColor: #082E5F;
    --midDarkColor: #082E5FE3;
    --grayColor: #3c3c43;
    --midGrayColor: #FFF3F8FC;
    --lightColor: #f3f8fc;
    --accent: #f3f8fc;
    --dangerColor: #d26b4e;
    --warningColor: #ff8f30;
    --successColor: #3aaa97;
    --bgSecondary: #ffffff;
    --fcNegative: #ffffff;
    --bgMain: var(--lightColor);
    --fcBase: var(--grayColor);
    --bgAside: var(--midDarkColor);
    --bgMenuActive: var(--darkColor);
    --bcMenuActive: var(--lightColor);
    --bcInput: var(--midGrayColor);
    --bcInputHover: var(--primaryColor);
    --bgInputHover: var(--primaryColor);
    --fcInputHover: var(--primaryColor);
    --bcTable: var(--midGrayColor);
    --bgTable: var(--accent);
    --bgTableSecondary: #b2b2b2;
    --bgTableButton: var(--bgSecondary);
    --bgButton: var(--secondaryColor);
    --bgBulletTimeline: var(--darkColor);
    --bgLineTimeline: var(--midGrayColor);
    --bcEventTimeline: var(--midGrayColor);
    --bgImageDarken: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    --bgImageLigthen: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) );
    --logoImageUrl: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/.NET_Foundation_Logo.svg/1200px-.NET_Foundation_Logo.svg.png');
}
