:root {
    --primaryColor: #145CA6;
    --secondaryColor: #145CA6;
    --bgMenuActive: #2f4659;
    --midDarkColor: #082E5F;
    --darkColor: #082E5F;
    --lightColor: #f3f8fc;
    --logoImageUrl: url('../../../images/logo.png');
    --bgButton: var(--primaryColor);
    --bgMenuActive: var(--primaryColor);
    --bcMenuActive: var(--lightColor);
}